<div class="container">
    <h1 class="col-lg-6 col-md-10 col-sm-10"><%= title %> Business Contacts</h1>
    <hr>
    <div id="messageArea"></div>

    <div class="row justify-content-lg-center g-3">
      <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
          <span class="input-group-text">First Name</span>
          <input id="bizFirstName" name="bizFirstName" type="text" class="form-control" 
          value="<%= bizcontacts.FirstName %>"
          aria-label="First Name" aria-describedby="First Name Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Last Name</span>
            <input id="bizLastName" name="bizLastName" type="text" class="form-control" 
            value="<%= bizcontacts.LastName %>"
            aria-label="Last Name" aria-describedby="Last Name Input" required>
          </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Email Address</span>
        <input id="bizEmailAdd" name="bizEmailAddress" type="text" class="form-control" 
        value="<%= bizcontacts.EmailAddress %>"
        aria-label="Email Address" aria-describedby="Email Address Input" required>
        </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Phone</span>
        <input id="bizPhone" name="bizPhone" type="text" class="form-control" 
        value="<%= bizcontacts.Phone %>"
        aria-label="Phone" aria-describedby="Phone Input" required>
        </div>
        
        <% if(title == "Edit") { %>
        <button id="editButton" type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <% } else {%>
        <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
        <% } %>  

        <a href="/bizcontacts-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
      
      </form>

    </div>
</div>

